@import "compass/css3";

$blue: dodgerblue;
$orange: orange;
html, body {
  height: 100%;
  width: 100%;
  background: darken($blue, 10%);
}
.container {
  width: 600px;
  margin: 0 auto;
  h1, h2 {
    text-align: center; 
    margin-left: 50px;
    color: white;
  }
  a {
    color: inherit; 
  }
}
.tiles {
  margin: 15px auto;
  width: 100%;
  height: 100%;
}
li {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  -webkit-perspective: 800;
  margin: 10px;
  padding: 10px;
}
.tile {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.6s;
  .tile-front, .tile-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
  }
  .tile-front {
    background: $blue;
    -webkit-transition: -webkit-transform 0.3s;
    &:hover {
      background: lighten($blue, 10%);
      -webkit-transform: scale(1.1);
    }
  }
  .tile-back {
    background-color: orange;
    -webkit-transform: rotateY(180deg);
    &:hover {
      background: lighten($orange, 10%); 
    }
    img {
      width: 100%;
      height: 100%;
    }
    
  }
}
.tile.flipped {
     -webkit-transform: rotateY(180deg);
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}