<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>BCRD Wants You!</title>
  <link rel="shortcut icon" href="media/images/eye.png" type="image/x-icon">
  <link rel="icon" href="media/images/eye.png" type="image/x-icon">
  <style>
    body{
      background-color: white;
      overflow-x: hidden;
      }
    navbar-fixed nav {
      position: relative !important;
    }
    .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     }
  </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  </head>
<body>

  <!-- Top Nav Bar -->
  <div class="navbar-fixed">
    <nav class="navbar" role="navigation" style="color:#78909c; background: white">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo"><img style="padding: 5px" height=50 width=70 class="circle responsive-img" src="media/images/eye.png"></img></a>
        <ul class="right hide-on-med-and-down" style="font-family: 'PT Sans', sans-serif;">
          <li><a class="gray-text" href="faq.html">FAQ</a></li>
          <li><a class="gray-text" href="https://bcrd.threadless.com/">MERCH</a></li>
          <li><a class="gray-text" href="support.html" data-activates="dropdown1">SUPPORT US</a></li>
          <li><a class="gray-text" href="mailto:bullcityrollerderby@gmail.com">CONTACT US</a></li>
          <li><a class="gray-text" href="https://instagram.com/bullcityrollerderby/" target="_blank"><i style="color: gray" id="icon" class="fa fa-instagram"></i></a><li>
          <li><a class="gray-text" href="https://www.facebook.com/bullcityrollerderby/" target="_blank"><i style="color: gray" id="icon"  class="fa fa-facebook-square"></i></a><li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse gray-text"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <!-- Mobile Nav Bar-->
  <ul id="nav-mobile" class="side-nav" style="color:gray; background: white; font-family: 'PT Sans', sans-serif;">
    <li><a href="index.html"><img style="padding: 5px" height=50 width=70 class="circle responsive-img" src="media/images/header_eye.png"></img></a></li>
    <li><a class="gray-text" href="faq.html">FAQ</a></li>
    <li><a class="gray-text" href="https://bcrd.threadless.com/">MERCH</a></li>
    <li><a class="gray-text" href="support.html">SUPPORT US</a></li>
    <li><a class="gray-text" href="mailto:bullcityrollerderby@gmail.com">CONTACT US</a></li>
    <li><a class="gray-text" href="https://instagram.com/bullcityrollerderby/" target="_blank"><i style="color: gray" id="icon" class="fa fa-instagram"></i></a><li>
    <li><a class="gray-text" href="https://www.facebook.com/bullcityrollerderby/" target="_blank"><i style="color: gray" id="icon"  class="fa fa-facebook-square"></i></a><li>
  </ul>

  {{ content }}


    <div class="container">
      <div class="row">
        <div class="col s10 m2">
          <a href="https://instagram.com/bullcityrollerderby/" target="_blank"><i id="icon" class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/groups/828934163853486/" target="_blank"><i id="icon"  class="fa fa-facebook-square"></i></a>
        </div>
      </div>
    </div>
  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/tiles.js"></script>
  <script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $(".dropdown-button").dropdown({ hover: false });
  });
</script>

  </body>
</html>
