<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>BCRD Wants You!</title>
  <link rel="shortcut icon" href="media/images/eye.png" type="image/x-icon">
  <link rel="icon" href="media/images/eye.png" type="image/x-icon">
  <style>
    body{
      background-color: white;
      }
    .container{
        width:100% !important;
      }
  </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Sponsors</a></li>
  <li class="divider"></li>
  <li><a href="#!">Sponsorship</a></li>
  <li class="divider"></li>
  <li><a href="#!">Volunteer</a></li>
</ul>

  <!-- Top Nav Bar -->
  <div class="navbar-fixed">
    <nav class="navbar" role="navigation" style="color:white; background: #8C218D">
      <div class="nav-wrapper container"><a id="logo-container" href="index.html"><img style="padding: 5px" height=50 width=70 class="circle responsive-img" src="media/images/header_eye.png"></img></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="about.html">About BCRD</a></li>
          <li><a class="white-text" href="skaters.html">Skaters</a></li>
          <li><a class="white-text" href="faq.html">FAQ</a></li>
          <li><a class="white-text" href="https://bcrd.threadless.com/">Merch</a></li>
          <li><a class="white-text" href="events.html">Events</a></li>
          <li><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Support<i class="material-icons right">arrow_drop_down</i></a></li>
          <!-- Dropdown Trigger -->
          <li><a class="white-text" href="mailto:bullcityrollerderby@gmail.com">Contact Us</a></li>
          <li><a href="https://instagram.com/bullcityrollerderby/" target="_blank"><i id="icon" class="fa fa-instagram"></i></a><li>
          <li><a href="https://www.facebook.com/bullcityrollerderby/" target="_blank"><i id="icon"  class="fa fa-facebook-square"></i></a><li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    </ul>
  </div>

  <!-- Mobile Nav Bar-->
  <ul id="nav-mobile" class="side-nav" style="color:white; background: #8C218D">
    <li><a href="index.html"><img style="padding: 5px" height=50 width=70 class="circle responsive-img" src="media/images/header_eye.png"></img></a></li>
    <li><a class="white-text" href="about.html">About BCRD</a></li>
    <li><a class="white-text" href="skaters.html">Skaters</a></li>
    <li><a class="white-text" href="faq.html">FAQ</a></li>
    <li><a class="white-text" href="https://bcrd.threadless.com/">Merch</a></li>
    <li><a class="white-text" href="events.html">Events</a></li>
    <li><a class="white-text" href="support.html">Support</a></li>
    <li><a class="white-text" href="mailto:bullcityrollerderby@gmail.com">Contact Us</a></li>
    <li><a href="https://instagram.com/bullcityrollerderby/" target="_blank"><i id="icon" class="fa fa-instagram"></i></a><li>
    <li><a href="https://www.facebook.com/bullcityrollerderby/" target="_blank"><i id="icon"  class="fa fa-facebook-square"></i></a><li>
  </ul>

  <div class="container">
<div class="section">
  <div class="row">
    <div class="col s12 left-align">
      <h2 style="font-family: 'Passion One', sans-serif; " class="black-text">Upcoming Events</h2>
      <div class="divider"></div>
        <div class="section">
          <h4 style="font-family: 'Passion One', sans-serif; ">September 2018</h4>
          <div class="divider"></div>
          <br />
          <h5>September 29th</h5>
          <p> At 12:30pm BCRD will be skating in Durham's Pride Parade! See more info <a style="color:blue" href="https://www.facebook.com/events/246959469300896/?action_history=%22[%7B%5C%22surface%5C%22%3A%5C%22messaging%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22attachment%5C%22%2C%5C%22extra_data%5C%22%3A%7B%7D%7D]%22"> here </a></p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h4 style="font-family: 'Passion One', sans-serif; ">October 2018</h4>
          <div class="divider"></div>
          <br />
          <h5>October 6th</h5>
          <p>Bout with Classic City in Georgia</p>
          <div class="divider"></div>
          <h5>October 13th</h5>
          <p>BOOTY CAMP. Come join BCRD for an introduction to Roller Derby! Learn more info <a style="color:blue" href="https://www.facebook.com/events/2163091147304979/?action_history=%22[%7B%5C%22surface%5C%22%3A%5C%22messaging%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22attachment%5C%22%2C%5C%22extra_data%5C%22%3A%7B%7D%7D]%22"> here </a></p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h4 style="font-family: 'Passion One', sans-serif; ">November 2018</h4>
          <div class="divider"></div>
          <br />
          <h5>November 17th</h5>
          <p>BCRD Assesments. You're not nervous. You're excited!</p>
        </div>
        <div class="divider"></div>
    </div>
  </div>
</div>
</div>



  <footer class="page-footer" style="background: #8C218D">
    <div class="container">
      <div class="row">
        <div class="col s10 m10">
          <h5 class="white-text" style="font-family: 'Passion One'">SKATE FAST EAT TRASH!</h5>
          <h7 class="white-text">Founding sponsor <a style='color:white' href='http://honeygirlmeadery.com'>Honeygirl Meadery</a></h5>

        </div>
        <div class="col s10 m2">
          <a href="https://instagram.com/bullcityrollerderby/" target="_blank"><i id="icon" class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/groups/828934163853486/" target="_blank"><i id="icon"  class="fa fa-facebook-square"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="background: #8C218D">
      <div class="container">
            Copyright BCRD 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/tiles.js"></script>
  <script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $(".dropdown-button").dropdown({ hover: false });
});
  </script>
  </body>
</html>
